<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - BlogApp.Web</title>
    <link rel="stylesheet" href="~/css/bootstrap/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css"/>
</head>
<body>
<header>
    <!-- Partial Navbar -->
    @await Html.PartialAsync("_navbar")
</header>

<div id="main">
    
    @RenderBody()
</div>

<!-- Footer -->
@await Html.PartialAsync("_footer")
<script src="~/js/jquery/jquery.min.js"></script>
<script src="~/js/bootstrap/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>